*.bak
*.pyc
log/*
networkutil/src/build/*
networkutil/src/dist/*
rsync/DeltaCopyRaw/*.log
rsync/DeltaCopyRaw/1.3fix
rsync/DeltaCopyRaw/Profiles.ini
rsync/DeltaCopyRaw/deltacd.conf
rsync/DeltaCopyRaw/test.dcp
rsync/bak/*
script/hvremote/client.bat
suball.bat
utility/20141120 rss keyword.txt
utility/filebot.suball.bat
utility/hv2/*
utility/hv3/*
utility/runasadmin.bat
utility/runasuser.bat
utility/status.20141124.bat
utility/status.20141125.bat
utility/temp.bat
utility/temp.log
utility/test.bat
utility/test.txt
utility/testemail.bat
wuinstall/runasadmin.bat
wuinstall/runasuser.bat
wuinstall/test/*
wuinstall/update.bat
*.url